##### 지도학습

#### 분류

In [49]:
import pandas as pd 
df_TFD = pd.read_csv('../../../../datasets/TitanicFromDisaster_train.csv')
df_TFD[:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

#### 전처리

In [50]:
df_TFD.columns
df_TFD_extract = df_TFD[['Survived', 'Pclass', 'Age']]
df_TFD_extract.isnull().sum()

Survived      0
Pclass        0
Age         177
dtype: int64

In [51]:
df_TFD_extract_preprocess = df_TFD_extract.dropna()
df_TFD_extract_preprocess[:2]

   Survived  Pclass   Age
0         0       3  22.0
1         1       1  38.0

#### Scaling & Encoding 
- split 바로 전에 하는 게 유리 (train,test할때 같은 값으로 해야하니까)

##### Encoding with OneHotEncoding
- 범주형 데이터를 연속형 숫자 데이터로 변환
- 범주형 항목만큼 벡터화

In [52]:
df_TFD_extract_preprocess['Pclass'].value_counts()
#해당 항목을 Pclass컬럼 기준으로 학습한 것임
#pclass 항목개수가 몇개인지 모르기 때문에 몇개인지 알아오는 과정

3    355
1    186
2    173
Name: Pclass, dtype: int64

In [53]:
from sklearn.preprocessing import OneHotEncoder

In [54]:
oneHotEncoder = OneHotEncoder() #인스턴스화
oneHotEncoder.fit(df_TFD_extract_preprocess[['Pclass']]) 
#백터를 만듦(0과 1로), 백터화
#실제로는 내가 변경하고 싶은 세가지의 항목만 넣어주면 됨 
#몇개 들어갔는지 확인하기 위해 통쨰로 넣어줌

OneHotEncoder()

In [55]:
columns_name = oneHotEncoder.categories_ #컬럼 내용
#categories라는 attribute 
#항목을 확인

In [56]:
#1,2,3 갖고 있는 항목으로 부여 
#oneHotEncoder.transform(df_TFD_extract_preprocess[['Pclass']]).toarray() #실제값 확인용
encoded_data = oneHotEncoder.transform(df_TFD_extract_preprocess[['Pclass']]).toarray()
#toarray()는 출력을 위해 사용

In [57]:
df_TFD_extract_preprocess[['Pclass']][:3]
#순서대로 3, 1, 3

   Pclass
0       3
1       1
2       3

In [58]:
#데이터 프레임 만들기 #컬럼으로 넣어서 붙이기 
df_encoded_data = pd.DataFrame(data=encoded_data, columns=columns_name)
df_encoded_data[:2]

     1    2    3
0  0.0  0.0  1.0
1  1.0  0.0  0.0

In [59]:
df_encoded_data.index, df_encoded_data.shape
#714개, 번호는 890
#인덱스 갯수가 안맞음

(RangeIndex(start=0, stop=714, step=1), (714, 3))

#### concat(병합)

#### 정형화 단계

In [60]:
df_TFD_extract_preprocess['Pclass'].shape

(714,)

In [61]:
# df_encoded_data = pd.get_dummies(df_TFD_extract_preprocess['Pclass'], prefix='Pclass')  ## prefix='Pclass' 컬럼명을 부여
#get_dummies는 서비스에서 사용을 못함, 3이 0 0 1인것을 못 찾아 
#onehotencoding과 비슷한 pandas 기능

In [62]:
#원본 데이터의 레코드갯수, 붙일 데이터의 레코드 갯수가 같아야 한다
#붙일 대상을 리스트로 나열 
df_TFD_extract_preprocess = pd.concat([df_TFD_extract_preprocess.reset_index(drop=True), df_encoded_data.reset_index(drop=True)], axis=1)
df_TFD_extract_preprocess[:2]
#기존 df에 새로 생성한 df 붙이는 과정

   Survived  Pclass   Age  (1,)  (2,)  (3,)
0         0       3  22.0   0.0   0.0   1.0
1         1       1  38.0   1.0   0.0   0.0

#### Scaling - MinMaxScaler
- 목표 변수 제외

In [63]:
df_TFD_extract_preprocess.shape

(714, 6)

In [64]:
#필요한 컬럼만 떼내기 
target = df_TFD_extract_preprocess['Survived']
features = df_TFD_extract_preprocess.drop(columns=['Survived', 'Pclass'])

In [65]:
features.columns #age와 Pclass_1, Pclass_2, Pclass_3만 있으면 됨

Index(['Age', (1,), (2,), (3,)], dtype='object')

In [84]:
from sklearn.preprocessing import MinMaxScaler

In [87]:
minMaxScaler = MinMaxScaler() #인스턴스화 
features = minMaxScaler.fit_transform(features)
features.shape 
#훈련하는 대상과 테스트 대상 같을떄 fit_transform
#가장 작은 게 0, 가장 큰 게 1

(714, 2)

In [85]:
# 대상이 같을때 fit_transform를 동시에 
minMaxScaler = MinMaxScaler() #인스턴스화
features = minMaxScaler.fit_transform(features)
features.shape
# 가장큰게 1, 작은게 0

(714, 2)

#### 정형화 단계

In [66]:
from sklearn.model_selection import train_test_split 
target = df_TFD_extract_preprocess['Survived']
features = df_TFD_extract_preprocess[['Pclass', 'Age']]
#뭉텅이로 넘겨 split

In [67]:
features_train, features_test, target_train , target_test = train_test_split(features, target, random_state=111)
#4개의 파라미터를 튜플로 #랜덤한 값을 넣을때 random_state #우리는 111을 고정으로 
features_train.shape, features_test.shape, target_train.shape, target_test.shape
#500개 이하는 split 안하는 게 나으니 머신러닝에서는 무의미

((535, 2), (179, 2), (535,), (179,))

#### 모델학습

In [68]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(features_train, target_train)

LogisticRegression()

In [69]:
model.coef_, model.intercept_

(array([[-1.25703902, -0.04521969]]), array([3.78621796]))

#### 예측

In [70]:
df_TFD_extract_preprocess[10:15] # index가 features_train 같다.

    Survived  Pclass   Age  (1,)  (2,)  (3,)
10         1       1  58.0   1.0   0.0   0.0
11         0       3  20.0   0.0   0.0   1.0
12         0       3  39.0   0.0   0.0   1.0
13         0       3  14.0   0.0   0.0   1.0
14         1       2  55.0   0.0   1.0   0.0

In [71]:
model.predict(features_train[10:15])

array([0, 0, 0, 0, 0], dtype=int64)

In [72]:
model.predict_proba(features_train[10:15])

array([[0.54134981, 0.45865019],
       [0.5967343 , 0.4032657 ],
       [0.76144372, 0.23855628],
       [0.52337371, 0.47662629],
       [0.74462956, 0.25537044]])

#### 평가
- accuracy_score(정확도)의 값이 0.85보다 높아야 데이터의 의미가 있음
- 0.85 이하는 모델자체가 성능이 떨어진다는 의미

In [73]:
target_train_predict = model.predict(features_train)
target_train_predict.shape #target_train.shape과 갯수 동일 
#(535)

(535,)

In [74]:
from sklearn.metrics import accuracy_score #정확도
accuracy_score(target_train, target_train_predict) #교내시험 
#0.706

0.7065420560747664

In [75]:
target_test_predict = model.predict(features_test) #test에 대한 predict한 값 
target_test_predict.shape #target_test.shape 동일 
#179

(179,)

In [76]:
accuracy_score(target_test, target_test_predict) #교외시험 
#0.65 모델 자체의 성능이 너무 떨어진다 
#0.85는 되어야 머신러닝 쓰는 의미가 있다

0.659217877094972

#### 추가평가 도구 
- MSE (mean_squared_error, 에러율)
- 회귀 모델의 성능을 평가하는데 사용되며, 예측 값과 실제 값 사이의 오차를 평가하는 도구
- 작을수록 모델의 예측이 실제 값과 가깝다고 판단, MSE가 작으면 모델이 데이터를 잘 설명하고 있음을 나타내며, 더 나은 회귀 모델일 가능성이 높음

In [88]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [89]:
mean_squared_error(target_train, target_train_predict) # train에 대한 평가

0.29345794392523367

In [90]:
## root mean_squared_error(RMSE)
mean_squared_error(target_train, target_train_predict)**0.5

0.5417175868709024

In [91]:
##mean_absolute_error(MAE)
mean_absolute_error(target_train, target_train_predict) # train에 대한 평가

0.29345794392523367

#### F1
- shape에서 갯수가 같아야 report를 쓸수 있음
- precision : 정밀도
- recall : 재현율

In [92]:
from sklearn.metrics import classification_report

In [77]:
#index의 갯수가 같아야 report작성이 가능 
#원래 목표변수와 예측한 목표변수의 맞고 틀리고의 갯수
from sklearn.metrics import classification_report
print(classification_report(target_train, target_train_predict))
#우리는 f1-score보고 판단: 0,1중에 몇퍼센트를 맞췄느냐는 숫자 
#support: 각각에 몇개가 가깝다 
#macro avg 보기 
#두개의 값의 차가 크다는 것은 데이터가 한쪽으로 (목표변수가) 몰렸다는 분포 파악 가능

              precision    recall  f1-score   support

           0       0.71      0.83      0.77       312
           1       0.69      0.54      0.60       223

    accuracy                           0.71       535
   macro avg       0.70      0.68      0.69       535
weighted avg       0.70      0.71      0.70       535

In [78]:
print(classification_report(target_test, target_test_predict))
#f1-score, macro avg -> 0.69, 0.64 
#여러 스코어 보고 판단해야함

              precision    recall  f1-score   support

           0       0.73      0.72      0.73       112
           1       0.54      0.55      0.55        67

    accuracy                           0.66       179
   macro avg       0.64      0.64      0.64       179
weighted avg       0.66      0.66      0.66       179

#### 오차 행렬

In [79]:
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score
#따로따로 필요할 때 사용

In [80]:
confusion_matrix(target_train, target_train_predict)
#tn, tp 이런걸 기준으로 위의 classification나왔다

array([[258,  54],
       [103, 120]], dtype=int64)

In [81]:
precision_score(target_train, target_train_predict)
#y값

0.6896551724137931

In [82]:
recall_score(target_train, target_train_predict)

0.5381165919282511

In [83]:
f1_score(target_train, target_train_predict)

0.6045340050377833

#### 서비스

In [95]:
df_TFD_extract[100:103]

     Survived  Pclass   Age
100         0       3  28.0
101         0       3   NaN
102         0       1  21.0

In [96]:
# 예측 대상자 입력값 Pclass: 3, age 28.0 --> 임의의 값
encoder_pclass_= oneHotEncoder.transform([[3]]).toarray() #2차원으로 넣어줘야함 
encoder_pclass_, encoder_pclass_.flatten()

#.flatten() --> 차원 배열(또는 행렬)을 1차원 배열로 변환하는 함수

C:\Users\5-21\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

(array([[0., 0., 1.]]), array([0., 0., 1.]))

In [97]:
import numpy as np 
inputs_data = np.concatenate(([28.0],encoder_pclass_.flatten()))
inputs_data

## 임의의 값을 모델에 넣어주는 값의 형식과 동일하게 됨

array([28.,  0.,  0.,  1.])

In [98]:
model.predict([inputs_data]) #목표변수 얻기

C:\Users\5-21\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

ValueError: X has 4 features, but LogisticRegression is expecting 2 features as input.