In [24]:
import pandas as pd

## 병합 (판다스)

In [25]:
# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 'A_2', 3]}, index=[0, 1, 2])
df2 = pd.DataFrame({'B': [4, 'B_5', 6]}, index=[3, 4, 5])
#넌파이 array는 컬럼의 이름이나 index이름이 없었다, 사이즈만 같으면 연결이 되었다
#판다스 array는 컬럼의 이름과 index이름이 중요하다

In [26]:
#열단위 병합
pd.concat([df1, df2], axis=1) #선 조치 필요
#dataframe은 넌파이가 아니라 판다스에만 있다. 그래서 넌파이에서는 튜플사용. 판다스에서는 dataframe을 활용 
#판다스에서는 인덱스 번호로 붙기 떄문에 한쪽이 비어있을 수 밖에 없다

     A    B
0    1  NaN
1  A_2  NaN
2    3  NaN
3  NaN    4
4  NaN  B_5
5  NaN    6

In [27]:
#사이즈 확인
df1.count(), df2.count()

(A    3
 dtype: int64,
 B    3
 dtype: int64)

In [28]:
df1_reset = df1.reset_index(drop=True)

In [29]:
df2_reset = df2.reset_index(drop=True)
#원래 인덱스 번호가 컬럼으로 만들어짐. 앞에 있는 인덱스는 reset_index에 의해 리셋되어진 것임.
# drop=True 해줘서 없애줌

In [30]:
pd.concat([df1_reset, df2_reset],axis=1)

     A    B
0    1    4
1  A_2  B_5
2    3    6

In [31]:
#어제 getdummies대신 reset써서 활용하기 
#숫자를 백터로 바뀐 상태이기 때문에 getdummies는 이걸 다시 못찾는다

In [32]:
df3 = pd.DataFrame({'B': ['4', 'None', '6']}, index=[3,4,5])
df3.isnull()

       B
3  False
4  False
5  False

In [33]:
def convertSICK_SYM(sick_sym):
    if len(sick_sym) < 3:
        return None #pd.NA #판다스에서 pd.NA 
        #넌파이에서는 np.Nan #파이썬에서는 None
    else:
        return sick_sym[:3]

In [34]:
df3['B'].apply(convertSICK_SYM)
df3

      B
3     4
4  None
5     6

In [35]:
df3.isnull()

       B
3  False
4  False
5  False